@import "compass/css3";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  line-height: 1.2em;

}

body {
margin: 0;
text-decoration: none;

}

h1, h2, h3, h4 {
  margin: 2em;
  line-height: 1.2em;

}

h1, h3, h4 {
  color: white;
}

h1 {
  font-weight: bold;
  margin-top: 14em;
  line-height: 1.5em;
  margin-bottom: 2em;
}


p {
	font-size: 1.125em;
	color: black;


}


figcaption {

  color: black;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  line-height: normal;
  width: 400px;

}

li {
  margin: 1em;



}

ul {
  list-style: none;
}

.intro {
  background-color: black;
  overflow: auto;
}


.resume {
  margin-top: 10em;
  margin-bottom:  5em;
  overflow: auto;
  background-color: black;
  color: white;
  display: flex;
}

.info {

  margin: 5em;
}



.clips {
  margin-top: 10em;
  margin-bottom:  5em;


}

.clip-gallery {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 100%;




}

figure {
    width: 100%;
    overflow: hidden;


}

img {
    width: 100%;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .25);
    overflow:auto;
    width: 25em;
    height: 15em;

}

footer{

}
