body {
    background-color: ;
}

h1 {
    color: ;
    margin-left: ;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4.4vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
	color: white;
}

.Top {
  margin: auto;
}

.Middle {

}

.Clips {

}
